/*Containers Page*/
.intro-header.containers {
    background: url(#{$assetsPath}/containers/hero-bkgd-containers.jpg) no-repeat center center;
    background-size: cover;
    position: relative; 
    a.photo-credit {
    	bottom: 70px;
    }
}
@media (max-width: 767px) {
	.intro-header.containers {
		.intro-message {
			padding-bottom: 0;
		}
		a.photo-credit {
			bottom: 100px;
		}
		.download-container {
			margin-bottom: 50px;
		}
	}
}
.containers-intro {
	background-color: white;
	padding: 40px 0 60px;
}
.containers-highlights {
	background-color: $lightblue;
	padding: 60px 0;
	color: $darkblue;
	text-align: center;
	.single {
		padding: 20px 2% 10px;
	}
	h2 {
		text-align: center;
		margin: 0 0 40px;
	}
	h4 {
		font-size: 1.1em;
		line-height: 1.5;
	}
	i {
		color: $blue;
		margin-bottom: 10px;
	}
	a.blue-btn {
		background-color: $darkblue;
		display: block;
		max-width: 300px;
		margin: 40px auto 30px;
	}
}
.containers-action-wrapper {
	text-align: center;
	padding: 50px 0 90px;
	background: white;
	border-top: 1px solid $lightblue;
	p {
		text-align: center;
		color: $darkblue;
	}
	a.containers-action-btn {
		display: block;
		max-width: 300px;
		background: $red;
		color: white;
		padding: 15px 20px;
		border-radius: 4px;
		margin: 30px auto 0;
		i {
			margin-right: 5px;
			font-size: 1.2em;
		}
		&:hover {
			background: $redhover;
			text-decoration: none;
		}
	}
}
/*End Containers Page*/