/*ISVs landing page*/
.intro-header.isv {
	h1 {
		text-align: center;
		margin-bottom: 15px;
	}
}
.appdev-quotes {
	.right {
		text-align: left;
	}
}
.isv-growth-wrapper {
	margin-top: 40px;
	.isv-growth-right {
		margin-top: 10px;
		color: $darkblue;
	}
}
img.isv-growth-chart {
	float: left;
	margin-right: 15px;
}
/*End ISVs landing page*/